<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/kind.css' %}" />

	<script type="application/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
	<script type="application/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="application/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
	<script type="application/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/plotly-1.17.3.min.js' %}" charset="utf-8"></script>
	<script type="application/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="application/javascript" src="{% static 'bootstrap/js/bootstrap-datepicker.js' %}"></script>
	<script type="application/javascript" src="{% static 'js/kind.js' %}"></script>

<title>All Kindness</title>
</head>

<body background="{% static 'img/bg_tartu_small.png' %}" style="background-size:cover;">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default">
    <div class="container-fluid">
		<div class="navbar-left">
		  <a class="navbar-brand" href="/">Kindness of all kind</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a id="menu" href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;Menu <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/"><span class="glyphicon glyphicon-home icon-menu"></span> Home</a></li>
				<li><a href="https://allkindness.org/app/" target="_blank">
					<span class="glyphicon glyphicon-th icon-menu"></span> Application</a></li>
				<li><a href="/about"><span class="glyphicon glyphicon-info-sign icon-menu"></span> About </a></li>
			</ul>
		</li>
		</ul>
	</div>
</nav>

<!-- Main Page Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="container-fluid">{% block app %}{% endblock %}</div>
		</div>
	</div>
</div>

</body>
</html>
