{% extends "frame.html" %}
{% block app %}
{% load staticfiles %}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 align="center">Application will be available soon!</h1>
<br/>
<br/>
<div><p>

    You can help us to understand people charities preferences filling this
    <a href="https://goo.gl/forms/RG1eLPekjgGxDmqx1" target="_blank">short pool</a>.

</p></div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109559488-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109559488-1');
</script>
{% endblock %}
